.card-carousel {

    &__container {
        margin: auto;
        max-width: 1280px;
        padding: 60px 40px 40px 40px;

        @media screen and (min-width: $breakpoint-medium) {
            padding: 60px 60px 40px 60px;
        }
    }

    &__title-container {
        margin: auto;
        max-width: 1280px;
        padding: 0px 40px 0px 40px;

        h2 {
            text-align: center;
            color: var(--color-primary-grey);
            font-family: var(--font-avenir);
            font-size: _calc-rem(40px);
            line-height: 1.1;
        }

        @media screen and (min-width: $breakpoint-medium) {
            padding: 60px 60px 40px 60px;
        }
    }

    &__nav-container {
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: $breakpoint-medium) {
            justify-content: flex-end;
        }
    }

    &__cycle-button {
        height: auto;
        width: auto;
        display: block;
        background-color:#ededed;
        border-radius: 100%;
        padding: 16px;
        // prevents button oval shape caused by SVG 
        line-height: 0;

        &.uk-invisible {
            visibility: visible !important;
            background-color: #f6f6f6;
            svg {
                opacity: 35%;
            }
        }

        &--previous {
            transform: rotate(180deg);
        }

        svg {
            width: 24px;
            height: 24px;
        }
    }
}