.resource-hero {
    position: relative;
    padding: 40px 0;

    @media screen and (min-width: $breakpoint-medium) {
        padding: 75px 0 0 0;
    }

    &__announcement {
        width: 100%;
        padding: 20px 40px;
        color: var(--color-white);
        background-color: var(--color-primary-blue);
        font-size: _calc-rem(14px);
        text-align: center;
        line-height: 1.42;
        font-family: var(--font-avenir);
        margin-top: 2px;

        @media screen and (min-width: $breakpoint-medium) {
            margin-top: 13px;
        }

        a {
            color: var(--color-white);
            text-decoration: underline;
        }
    }
}

.short-resource-hero {
    position: relative; 

    &__wrapper {
        position: relative;
        min-height: 364px;

    }

    &__bg-container {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-height: 364px;
        z-index: -1;

        &--mobile {
            display: block;
            min-height: 450px;
            @media screen and (min-width: $breakpoint-medium) {
                display: none;
            }
        }

        &--desktop {
            display: none;
            @media screen and (min-width: $breakpoint-medium) {
                display: block;
            }
        }
    }

    &__content-wrapper {
        flex-direction: column;
        gap: 70px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 50px;

        @media screen and (min-width: $breakpoint-medium) {
            margin-top: 60px;
            flex-direction: row;
        }
    }

    &__section {
        &--left {
            flex-basis: auto;
            flex-shrink: 1;

            @media screen and (min-width: $breakpoint-medium) {
                flex-basis: 388px;
            }
        }

        &--right {
            flex-basis: auto;
            flex-shrink: 1;
            background-color: var(--color-primary-grey);
            color: var(--color-cream);
            padding: 30px 30px 30px 30px;

            @media screen and (min-width: $breakpoint-medium) {
                padding: 50px 40px 50px 50px;
                flex-basis: 474px;
            }

            p {
                display: block;
                width: 100%;
            }
        }
    }

    &__section + &__section {
        @media screen and (min-width: $breakpoint-medium) {
            margin-top: 0;
        }
    }

    &__eyebrow {
        text-transform: uppercase;   
        color: var(--color-primary-grey); 
        font-family: var(--font-avenir);
        font-size: _calc-rem(14px);
        margin-bottom: 24px;
    }

    &__heading {
        display: block;
        width: 100%;
        font-weight: 300;
        color: var(--color-primary-grey); 
        margin-bottom: 34px;
    }
}

.large-resource-hero {
    &__section {
        &--top {
            display: block;
            width: 100%;
            margin-bottom: 40px; 

            @media screen and (min-width: $breakpoint-medium) {
                margin-bottom: 94px;
            }
        }

        &--middle {
            display: block;
            width: 100%;
            min-height: 360px;
            margin-bottom: 30px;

            @media screen and (min-width: $breakpoint-medium) {
                min-height: 625px;
                margin-bottom: 60px;
            }

            &.image-small {
                min-height: 360px;
                margin-bottom: 50px;

                @media screen and (min-width: $breakpoint-medium) {
                    min-height: 400px;
                    margin-bottom: 0;
                }
            }
        }
    }

    &__heading {
        display: block;
        width: 100%;
        text-align: left;
        font-weight: 300;
        color: var(--color-cream);
        margin-bottom: 40px;
    }

    &__eyebrow {
        text-transform: uppercase;   
        color: var(--color-cream);
        font-family: var(--font-avenir);
        font-size: _calc-rem(14px);
        margin-bottom: 20px;
    }

    &__content {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        text-align: left;
        font-family: var(--font-avenir);

        @media screen and (min-width: $breakpoint-medium) {
            margin-bottom: 40px;
        }
        
        p {
            display: block;
            width: 100%;
            font-size: _calc-rem(24px);
            line-height: _calc-rem(30px);
            font-weight: 300;
            color: var(--color-cream);
        }
    }

    &__media-bg {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &--video {
            max-height: 360px;

            @media screen and (min-width: $breakpoint-medium) {
                max-height: 654px;
            }
        }
    }

    &__media {
        display: block;
        height: 100%;
        width: 100%;
        min-height: 360px;

        @media screen and (min-width: $breakpoint-medium) {
            min-height: 625px;
            max-width: 1160px;
        }

        &.image-small {
            height: 100%;
            width: 100%;
            min-height: 360px;

            @media screen and (min-width: $breakpoint-medium) {
                max-height: 444px;
                max-width: 1160px;
            }
        }
    }

    &__video {
        height: 360px;
        width: 100%;
        max-height: 360px;

        @media screen and (min-width: $breakpoint-medium) {
            height: 654px;
            max-height: 654px;
            max-width: 1160px;
        }
    }

    &__content-wrapper {
        position: relative;
        z-index: 1;
    }

    &__wrapper {
        &::after {
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            background-color: var(--color-primary-grey);
            position: absolute;
            top: 0;
            z-index: 0;

            @media screen and (min-width: $breakpoint-medium) {
                height: 65%;
            }
        }

        &.image-small {
            &::after {
                height: 100%;

                @media screen and (min-width: $breakpoint-medium) {
                    height: 73%;
                }
            }
        }
    }
}

.resource-hero--media-none {
    background-color: var(--color-primary-grey);
    padding: 40px 0;

    @media screen and (min-width: $breakpoint-medium) {
        padding: 80px 0;
    }

    .large-resource-hero__section--top {
        margin-bottom: 0;
    }

    .large-resource-hero__section--middle {
        display: none;
    }
}