.sub-navigation {
    background-color: var(--color-cream); 
    z-index: 10;
    
    .sub-navigation-wrapper {
        justify-content: center;
        padding-right: 5px !important;
    }

    &.subnav-fixed {
        position: fixed;
        left: 0;
        width: 100%;
        top: 84px!important;

        @media screen and (min-width: $container-large-max-width) {
            top: 150px !important;
        }
    }

    .uk-container {
        padding: 10px 15px;
        position: relative;

        @media screen and (min-width: $breakpoint-medium) {
            padding: 20px 60px;
        }

        .uk-slider-container {
            padding: 0 40px;

            @media screen and (min-width: $breakpoint-medium) {
                padding: 0;
            }
        }

        .uk-slider-items {
            padding: 0 40px !important;

            @media screen and (min-width: $breakpoint-medium) {
                padding: 0 5px !important;
            }
        }

        .uk-slidenav {
            width: 50px;
            height: 100%;
            border: 0;
            background: var(--subnav-gradient);
            margin: 0;
            top: 24px;
            cursor: pointer;

            svg {
                width: _calc-rem(20px);
                height: _calc-rem(20px);
            }

            &.uk-slidenav-previous {
                left: -14px;
            }

            &.uk-slidenav-next {
                right: -14px;
            }
        }
    }

    &__button {
        text-transform: uppercase;
        background-color: transparent;
        border: 0;
        font-family: var(--font-avenir);
        font-size: _calc-rem(12px);
        line-height: _calc-rem(16px);
        color: var(--color-primary-grey);
        padding: 0 9px;
        margin-right: 15px;
        max-width: 110px;
        text-align: left;
        cursor: pointer;
        position: relative;

        @media screen and (min-width: $container-large-max-width) {
            font-size: _calc-rem(16px);
            line-height: _calc-rem(22px);
            max-width: 140px;
        }

        &::before {
            display: block;
            content: '';
            width: 7px;
            height: 43px;
            border-left: 1px solid var(--color-primary-grey);
            position: absolute;
            top: 0;
            left: -5px;
        }

        &.active {
            font-weight: 700;

            &::before {
                border-left: 7px solid var(--color-primary-orange);
            }
        }
    }
}
