
.footer-header {
  font-size: _calc-rem(14px);
  font-family: var(--font-avenir);
  color: var(--color-dark-grey);
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 14px;
}

.footer-body-copy {
  font-family: var(--font-avenir);
  color: var(--color-dark-grey);
  font-size: _calc-rem(12px);
  line-height: 1.3;
}

.footer-contact-link {
  color: var(--color-primary-blue);
  font-family: var(--font-avenir);
  line-height: 1.3;
}

.footer-phone-number, .footer-email {
  color: var(--color-primary-blue);
  font-family: var(--font-avenir);
  font-size: _calc-rem(12px);
  line-height: 1.3;
  display: block;
  text-decoration: none;
}

.footer-body-copy + .footer-phone-number {
  margin-top: 14px;
}

.footer-link {
  font-size: 14px;
  line-height: 1.14;
  padding: 0;
  display: block;
  margin-top: 30px;
  background-color: transparent;
  border: 0;
}

.footer {
  position: relative;
  background-color: var(--color-footer-grey);
  padding: 40px 0;

  .uk-container {
    @media screen and (min-width: $breakpoint-medium) {
      padding: 0px 60px;
    }
  }

  &__address,
  &__copyright {
    display: block;
    width: 100%;
    text-align: center;
    font-family: var(--font-avenir);
    color: var(--color-white);
    font-size: _calc-rem(12px);
    line-height: 1.3;

    @media screen and (min-width: $breakpoint-medium) {
      text-align: right;
    }
  }

  &__logo-center {
    display: block;
    width: 100%;
    text-align: center;
    max-width: 200px;
    margin: 0 auto;

    img {
      display: block;
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 70px;
      margin: 0 auto;
    }
  }

  &__container {
    position: relative;
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;

    @media screen and (min-width: $breakpoint-footer) {
      padding: 30px 60px 30px 60px;
    }

    @media screen and (min-width: $breakpoint-large) {
      gap: 125px;
      flex-direction: row;
    }
  }

  &__logo {
    max-width: 200px;
  }
  
  &__logo-column {
    @media screen and (min-width: $breakpoint-footer) {
      margin-bottom: 45px;
    }

    @media screen and (min-width: $breakpoint-large) {
      margin-bottom: 0;
    }
    
    .footer__contact-row {
      display: none;

      @media screen and (min-width: $breakpoint-large) {
        display: block;
      }
    }

    @media screen and (min-width: $breakpoint-large) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  

  &__contact_us {
    display: block;
    margin-bottom: 30px;
   
    @media screen and (min-width: $breakpoint-large) {
      display: none;
      margin-bottom: 0;
    }
  }

  &__columns {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 60px;
    margin-bottom: 80px; 
    margin-top: 30px;

    @media screen and (min-width: $breakpoint-footer) {
      margin-top: 0px;
      margin-bottom: 0px;
      flex-direction: row;
      gap: 7%;
    }

    @media screen and (min-width: $breakpoint-large) {
      gap: 96px;
    }
  }

  &__column {
    position: relative;
    min-width: 210px;
  }

  &__column + &__column {
    @media screen and (min-width: $breakpoint-footer) {
    }
  }

  &__links-column {
    max-width: unset;
  }

  &__contact-row + &__contact-row {
    margin-top: 30px;
  }

  &__contact-link {
    margin-top: 16px;
  }

  &__address {
    margin-bottom: 20px;

    p {
      font-size: _calc-rem(12px);
      line-height: 1.3;
    }

    a {
      color: var(--color-primary-blue);
      font-family: var(--font-avenir);
      text-decoration: none;
    }
  }

  &__page-link {
    margin-top: 0;
    display: block;
    padding: 0;
    background-color: transparent;
    border: 0;
  }

  &__page-link + &__page-link {
    margin-top: 30px;
  }

  &__subscribe-form {
    .footer-link {
      border: 0;
      margin-top: 20px;

      * {
        color: var(--color-dark-grey);
      }
    }

    input[type=text] {
      display: block;
      width: 100%;
      border: 0;
      border-bottom: 1px solid var(--color-dark-grey);
      padding: 8px 2px 8px 2px;
    }

    label {
      display: block;
      width: 100%;
      font-size: _calc-rem(8px);
      line-height: 1.2;
      font-family: var(--font-avenir);
      color: var(--color-dark-grey);
      display: flex;
      align-items: center;
      margin-top: 9px;
      gap: 4px;

      input[type=checkbox] {
        margin: 0;
      }

      * {
        color: inherit;
      }
    }
  }

  &__badges {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 30px;
    align-items: baseline;
  }

  &__badge {
    img {
      width: 100%;
      max-width: 83px;
      height: auto;
    }
  }
}

.sub-footer {
  width: 100%;
  background-size: cover;
  background-position: center 190px;
  padding-bottom: 34px;

  @media screen and (min-width: $container-large-max-width) {
    padding-bottom: 0;
  }

  &__container {
    width: 100%;
    margin: auto;
    max-width: 1280px;
    display: flex;
    flex-direction: column-reverse;
    padding: 24px 20px 24px 20px;
    align-items: center;

    @media screen and (min-width: $breakpoint-footer) {
      background-position: center 200px;
      padding: 24px 60px 24px 60px;
      flex-direction: row;
      align-items: baseline;
    }
  
    @media screen and (min-width: $breakpoint-large) {
      padding: 24px 88px 24px 158px;
    }
  }

  &__menu {
    margin-right: 5px;

    a {
      text-decoration: none;
      color: var(--color-white);
      font-size: _calc-rem(10px);
      padding: 0 5px 0 5px;
      border-right: 1px solid var(--color-white);

      &:first-child {
        padding-left: 0px;
      }

      &:last-child {
        padding-right: 0px;
        border-right: unset;
      }
    }
  }

  &__copyright {
    font-size: _calc-rem(10px);
    color: var(--color-white);
  }

  &__social-media {
    margin-top: 40px;
    margin-bottom: 36px;
    @media screen and (min-width: $breakpoint-footer) {
      margin-left: auto;
      margin-top: unset;
      margin-bottom: unset;
    }
    a + a {
      margin-left: 24px;
      @media screen and (min-width: $breakpoint-footer) {
        margin-left: 16px;
      }
    }

    .icon {
      color: white;
      fill: white;
      width: 24px;
      height: 24px;

      @media screen and (min-width: $breakpoint-footer) {
        width: 18px;
        height: 18px;
      }
    }

    .icon-instagram-neutral {
      fill: transparent;
    }
  }
}

.mobile-floating-button {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  background-color: var(--color-primary-blue);
  color: white;
  font-family: var(--font-avenir);
  font-size: _calc-rem(14px);
  text-decoration: none;
  cursor: pointer;
  z-index: 10;

  @media screen and (min-width: $container-large-max-width) {
    display: none;

  }
}