.staff-bios {
    padding: 40px 5px;

    @media screen and (min-width: $breakpoint-medium) {
        padding: 80px 0;
    }

    &-container {
        @media screen and (min-width: $breakpoint-medium) {
            padding: 0 40px;
        }
    }

    &__headline {
        display: block;
        width: 100%;
        margin-bottom: 0;
        font-weight: 300;
    }

    &__eyebrow {
        font-size: _calc-rem(14px);
        line-height: _calc-rem(22px);
        font-weight: 500;
        text-transform: uppercase;
        display: block;
        width: 100%;
        margin-bottom: 30px;
        font-family: var(--font-avenir);

        @media screen and (min-width: $breakpoint-medium) {
            margin-bottom: 40px;
        }
    }

    &__content {
        display: block;
        width: 100%;
        margin-bottom: 30px;

        @media screen and (min-width: $breakpoint-medium) {
            margin-bottom: 40px;
        }

        p {
            display: block;
            width: 100%;
            margin-bottom: 20px;
        }
    }

    &__image {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        max-width: 500px;
    }
}